html, body, #home {
	height: 100%;
	/*overflow-x: hidden; esconde o que não coube na tela*/
}
body {
	background: url(../imagens/capa.png),
				url(../imagens/ruido.png),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}
nav.navbar-transparente {
	background: rgba(0,0,0,0.6);
	padding: 15px 0px;
}
.navbar-light .navbar-nav .nav-link {
	color: white;
	font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
	font-weight: 600;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,.2);
}
.divisor {
	width: 2px;
	background: white;
	margin: 12px 15px;
}
.capa {
	text-align: center;
}
.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: background 0.4s, color 0.4s;
}
.btn-roxo {
	background: #7c25f8;
}
.btn-roxo:hover {
	background: #6207e3;
	color: white;
}
.btn-branco {
	border: 1px solid white;
}
.btn-branco:hover {
	background: white;
	color: black;
}
h1 {
	color: white;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}
h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
		.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}
#servicos {
	background: white;
	padding: 20px 0px;
}
.album {
	padding: 10px 0px;
}
#servicos h2, h3 {
	color: #7c25f8;
}
#apresentacao {
	padding: 20px 0px;
}
#apresentacao p, h2 {
	color: white;
}
#apresentacao h3 {
	color: #9bf0e1;
}
.rotacionar {
	-ms-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	padding: 55px;
}
footer {
	background: black;
	padding-top: 50px;
	padding-bottom: 20px;
	position: relative;
}
footer h5 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}
footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}
footer .navbar-nav a:hover {
	color: #9bf0e1;
	font-size: 0.8em;
	text-decoration: none;
}
footer ul {
	list-style: none;
}
footer ul li {
	float: right;
	margin: 0px 5px;
}